/* Styling for word-by-word animation */
.word {
    opacity: 0;
    display: inline-block;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .word.reveal {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* General styling for About section */
  .abouta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: white;
    color: black;
  }
  
  .texta {
    flex: 1;
    margin-right: 20px;
  }
  
  .texta h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    font-weight: bold;
    color: black /* Updated color for black background */
  }
  
  .texta h2 {
    font-size: 1.8rem;
    margin-bottom: 24px;
    font-weight: bold;
    color: black; /* Updated color for black background */
  }
  
  .texta h3 {
    font-size: 1.2rem;
    line-height: 1.6;
    color: black; /* Updated color for black background */
  }
  
  .texta p {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 1.6;
    color: black; /* Updated color for black background */
  }
  
  /* Styling for the image section */
  .imagea {
    flex: 1;
  }
  
  .imagea img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }
  
  /* Mobile Version Styling */
  @media only screen and (max-width: 768px) {
    .abouta {
      flex-direction: column;
      padding: 20px;
      text-align: left;
       /* Center align text for mobile */
      background-color: #000; /* Black background for the text area */
    }
  
    .texta {
      margin-right: 0;
      align-items: left;
      justify-content: left;
      margin-bottom: 20px; /* Add space between text and image */
    }
  
    .texta h1 {
      font-size: 2rem;
      color: white;
    }
  
    .texta h2 {
      font-size: 1.5rem;
      color: white;
    }
  
    .texta h3 {
      font-size: 1.1rem;
      color: white;
    }
  
    .texta p {
      font-size: 0.9rem;
      color: white;
    }
  
    .imagea img {
      max-width: 100%; /* Make image responsive on mobile */
      border-radius: 8px;
    }
  }
  