.video-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Make the video section take the full viewport height */
    overflow: hidden;
  }
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This keeps the video aspect ratio intact */
    object-position: top; /* Align the video from the top */
    z-index: -1; /* Ensure the video is behind any other content */
  }
  